.navbar{
    background-color: maroon !important;
}

thead{
    color: white;
    background-color: maroon;
}

.badge{
    margin: 1.5px;
}

#list-group-item {
    border-radius: 25px;
}

input, select, .btn, .alert {
    border-radius: 25px !important;
}

h1,h2,h3,h4,h5,h6{
    color: black;
}